# Домашнее задание 3

**Выполнил:** <ФИО>

**На сколько выполнил:** <Укажите, на сколько баллов по вашему мнению вы сделали>

**Правила игры:**

* возле каждой задачи указано число баллов (в сококупности можно получить 10 баллов)

* хотим чистый, читабельный код, сайты - с user-friendly интерфейсом)

* к каждому заданию должен быть приложен код проекта, выложенный на Github (если вы пользуетесь ScraperAPI или другими ключами, то ключи необходимо убирать)

* Оценивание будет происзодить в первую очередь по функциональности - все ли работает и работает так, как должно (но за полное отсутствие стиля мы будем снижать)

P.S. В данном задании вам не потребуется ScraperAPI :з

**Любые extra-вещи будут оцениваться в плюс как доп баллы**

## Задание 1 (3 балла)

Парсим [Steam](https://store.steampowered.com/) с помощью Scrapy!

Необходимо выбрать 3 запроса (например, "инди", "стратегии", "minecraft", на каждый запрос должно быть минимум 90 результатов), и вытащить по ним:

* Все игры на первых 2 страницах (найдите, каким образом отображаются страницы)

И для каждой игры вытащить:

* Название

* Категорию (весь путь, за исключением Все игры и самого названия игры)

* Число всех обзоров и общая оценка

* Дата выхода

* Разработчик

* Метки (тэги) игры

* Цена

* Доступные платформы

Сохраните игры в формате json, оставив только игры, выпущенные после 2000 года

Чтобы было проще, в репозитории с ДЗ выложены скрины, где можно посмотреть, где и какие поля находятся

## Задание 2 (4 балла)

Создайте сайт с помощью Flask или Django. Будем делать конструктор резюме!

Общая структура сайта:

1. Страничка с авторизацией и регистрацией

2. После авторизации, должна быть страница с формой, в которой необходимо заполнить форму (если пользователь уже заполнял форму, то в формы уже должен быть подгружен текст, который был заполнен, для этого должна быть отдельная кнопочка для сохранения в черновик)

3. Страница со скоинструированным резюме, который может быть превращен в PDF и выгружен (для этого можно использовать [pdfkit](https://pypi.org/project/pdfkit/))

На всякий случай: пользователь не может посмотреть чужие резюме

## Задание 3* (2 балла)

Добавьте возможность загрузить картинку в резюме (для исходного задания это не требуется)

Разверните приложение на Yandex.Cloud или на любом другом хосте (если знаете куда можно)

## Задание 4 (3 балла)

Отрисуйте с помощью Dash или StreamLit данные из данного [датасета](https://www.kaggle.com/datasets/michaelbryantds/crimedata)

Здесь необходимо провести самостоятельный анализ данных (можно даже в ноутбуке), в качестве результата необходим дашборд, внутри которого будет:

* Не менее 5 селекторов

* Не менее 5 различных графиков, которые показывали бы зависимость между преступлениями (на ваш выбор, там можно выбрать) и выбранными вами показателями

Дашборд должен быть стилистически оформлен

In [110]:
import pandas as pd

In [133]:
df = pd.read_csv("crimedata.csv")[["state", "communityName", "population", "medIncome", "numbUrban", "PctUnemployed", "murders", "rapes", "robberies", "assaults", "burglaries", "larcenies", "autoTheft", "arsons"]]
df = df.dropna()
df["numbUnemployed"] = df["population"]*df["PctUnemployed"]/100
df = df.drop("PctUnemployed", axis=1)
df = df.groupby(["state", "communityName"]).agg({"population":"sum", "numbUrban":"mean", "numbUnemployed":"mean", "medIncome":"mean", "murders":"sum", "rapes":"sum", "robberies":"sum", "assaults":"sum", "burglaries":"sum",
                              "larcenies":"sum", "autoTheft":"sum", "arsons":"sum"})
df["pctUnemployed"] = 100*df["numbUnemployed"]/df["population"]
df["pctUrban"] = 100*df["numbUrban"]/df["population"]
df = df.drop("numbUnemployed", axis=1)
df = df.drop("numbUrban", axis=1)
df = df.reset_index()
df

,state,communityName,population,medIncome,murders,rapes,robberies,assaults,burglaries,larcenies,autoTheft,arsons,pctUnemployed,pctUrban
0,AK,Anchoragecity,226338,43946.0,23,212.0,568.0,1410.0,1880.0,10660.0,1387.0,105.0,6.46,97.970734
1,AK,Fairbankscity,30843,32033.0,6,25.0,80.0,143.0,251.0,1460.0,241.0,2.0,8.62,0.000000
2,AK,Juneaucity,26751,47924.0,0,12.0,3.0,18.0,128.0,857.0,59.0,7.0,4.75,0.000000
3,AL,AlexanderCitycity,14917,20970.0,4,1.0,11.0,36.0,56.0,77.0,4.0,0.0,4.75,0.000000
4,AL,Annistoncity,26623,19099.0,12,36.0,142.0,781.0,1049.0,2089.0,177.0,27.0,11.53,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1897,WY,Gillettecity,17635,35532.0,0,4.0,3.0,64.0,72.0,844.0,27.0,18.0,5.31,0.000000
1898,WY,GreenRivercity,12711,40378.0,0,2.0,2.0,17.0,66.0,393.0,13.0,5.0,5.29,0.000000
1899,WY,Laramiecity,26687,19642.0,1,5.0,6.0,66.0,90.0,828.0,38.0,7.0,4.79,0.000000
1900,WY,RockSpringscity,19050,34372.0,1,14.0,6.0,111.0,213.0,882.0,76.0,0.0,5.13,0.000000
1901,WY,Sheridancity,13900,23819.0,0,6.0,0.0,14.0,62.0,462.0,32.0,4.0,5.82,0.000000

In [42]:
print(min(df["population"]), max(df["population"]))

27630 21957110

In [48]:
import numpy as np

In [134]:
df_population = df.groupby(["state", "population"]).agg({"murders":"mean", "rapes":"mean", "robberies":"mean", "assaults":"mean", "burglaries":"mean",
                                                         "larcenies":"mean", "autoTheft":"mean", "arsons":"mean"}).reset_index()

df_population

,state,population,murders,rapes,robberies,assaults,burglaries,larcenies,autoTheft,arsons
0,AK,26751,0.0,12.0,3.0,18.0,128.0,857.0,59.0,7.0
1,AK,30843,6.0,25.0,80.0,143.0,251.0,1460.0,241.0,2.0
2,AK,226338,23.0,212.0,568.0,1410.0,1880.0,10660.0,1387.0,105.0
3,AL,10283,0.0,6.0,6.0,39.0,60.0,264.0,11.0,1.0
4,AL,10380,2.0,2.0,1.0,20.0,94.0,371.0,17.0,1.0
...,...,...,...,...,...,...,...,...,...,...
1895,WY,13900,0.0,6.0,0.0,14.0,62.0,462.0,32.0,4.0
1896,WY,17635,0.0,4.0,3.0,64.0,72.0,844.0,27.0,18.0
1897,WY,19050,1.0,14.0,6.0,111.0,213.0,882.0,76.0,0.0
1898,WY,26687,1.0,5.0,6.0,66.0,90.0,828.0,38.0,7.0
1899,WY,50008,0.0,22.0,17.0,69.0,258.0,2224.0,76.0,12.0

In [119]:
df_income = df.groupby(["state", "medIncome"]).agg({"murders":"mean", "rapes":"mean", "robberies":"mean", "assaults":"mean", "burglaries":"mean",
                                                     "larcenies":"mean", "autoTheft":"mean"}).reset_index()
df_income["rounded_income"] = df_income["medIncome"]/100000
df_income["rounded_income"] = df_income["rounded_income"].apply(lambda x: round(x, 2))*100000

df_income = df_income.groupby(["state", "rounded_income"]).agg(
    {"murders": "mean", "rapes": "mean", "robberies": "mean", "assaults": "mean", "burglaries": "mean",
     "larcenies": "mean", "autoTheft": "mean"}).reset_index()
df_income

,state,rounded_income,murders,rapes,robberies,assaults,burglaries,larcenies,autoTheft
0,AK,32000.0,6.0,25.0,80.0,143.0,251.0,1460.0,241.0
1,AK,44000.0,23.0,212.0,568.0,1410.0,1880.0,10660.0,1387.0
2,AK,48000.0,0.0,12.0,3.0,18.0,128.0,857.0,59.0
3,AL,16000.0,6.0,20.0,105.5,389.5,716.5,1105.0,236.0
4,AL,17000.0,1.0,0.0,5.0,3.0,25.0,24.0,14.0
...,...,...,...,...,...,...,...,...,...
793,WY,28000.0,0.0,22.0,17.0,69.0,258.0,2224.0,76.0
794,WY,31000.0,1.0,6.0,2.0,24.0,90.0,496.0,26.0
795,WY,34000.0,1.0,14.0,6.0,111.0,213.0,882.0,76.0
796,WY,36000.0,0.0,4.0,3.0,64.0,72.0,844.0,27.0
797,WY,40000.0,0.0,2.0,2.0,17.0,66.0,393.0,13.0

In [129]:
df_pct_urban = df.groupby(["state", "pctUrban"]).agg({"murders":"mean", "rapes":"mean", "robberies":"mean", "assaults":"mean", "burglaries":"mean",
                                                           "larcenies":"mean", "autoTheft":"mean"}).reset_index()

df_pct_urban["rounded_pct"] = df_pct_urban["pctUrban"]/100
df_pct_urban["rounded_pct"] = df_pct_urban["rounded_pct"].apply(lambda x: round(x, 1))*100

df_pct_urban = df_pct_urban.groupby(["state", "rounded_pct"]).agg(
    {"murders": "mean", "rapes": "mean", "robberies": "mean", "assaults": "mean", "burglaries": "mean",
     "larcenies": "mean", "autoTheft": "mean"}).reset_index()
df_pct_urban

,state,rounded_pct,murders,rapes,robberies,assaults,burglaries,larcenies,autoTheft
0,AK,0.0,3.000000,18.500000,41.500000,80.500000,189.500000,1158.500000,150.000000
1,AK,100.0,23.000000,212.000000,568.000000,1410.000000,1880.000000,10660.000000,1387.000000
2,AL,0.0,1.333333,4.000000,13.000000,89.833333,147.166667,350.500000,24.833333
3,AL,100.0,25.821429,72.392857,402.678571,1152.357143,1945.464286,5035.750000,858.464286
4,AR,0.0,1.466667,9.933333,34.000000,73.066667,327.200000,975.066667,70.600000
...,...,...,...,...,...,...,...,...,...
129,WI,100.0,3.277778,18.847222,69.472222,97.680556,380.270833,1434.861111,187.340278
130,WV,0.0,1.166667,7.333333,18.000000,63.500000,158.166667,723.000000,41.333333
131,WV,100.0,2.444444,14.500000,46.388889,85.777778,375.055556,882.944444,90.111111
132,WY,0.0,0.500000,6.166667,3.166667,49.333333,98.833333,650.833333,35.333333
133,WY,100.0,0.000000,22.000000,17.000000,69.000000,258.000000,2224.000000,76.000000

In [78]:
df_population = df_population.groupby(["state", pd.cut(df_population["population"],
                                                       np.arange(0, df_population['population'].max(), 1000000))]).mean()
df_population

                          population   murders  rapes  robberies    assaults  \
state population
AK    (0, 1000000]           94644.0  9.666667   83.0      217.0  523.666667
      (1000000, 2000000]         NaN       NaN    NaN        NaN         NaN
      (2000000, 3000000]         NaN       NaN    NaN        NaN         NaN
      (3000000, 4000000]         NaN       NaN    NaN        NaN         NaN
      (4000000, 5000000]         NaN       NaN    NaN        NaN         NaN
...                              ...       ...    ...        ...         ...
WY    (2000000, 3000000]         NaN       NaN    NaN        NaN         NaN
      (3000000, 4000000]         NaN       NaN    NaN        NaN         NaN
      (4000000, 5000000]         NaN       NaN    NaN        NaN         NaN
      (5000000, 6000000]         NaN       NaN    NaN        NaN         NaN
      (6000000, 7000000]         NaN       NaN    NaN        NaN         NaN

                          burglaries    larcenies   autoTheft
state population
AK    (0, 1000000]             753.0  4325.666667  562.333333
      (1000000, 2000000]         NaN          NaN         NaN
      (2000000, 3000000]         NaN          NaN         NaN
      (3000000, 4000000]         NaN          NaN         NaN
      (4000000, 5000000]         NaN          NaN         NaN
...                              ...          ...         ...
WY    (2000000, 3000000]         NaN          NaN         NaN
      (3000000, 4000000]         NaN          NaN         NaN
      (4000000, 5000000]         NaN          NaN         NaN
      (5000000, 6000000]         NaN          NaN         NaN
      (6000000, 7000000]         NaN          NaN         NaN

[308 rows x 8 columns]